@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary: #f1f1f1;
  --secondary: #93bbfb;
  --tertiary: rgba(31, 209, 253, 0.6);
}
,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}
